@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 118, 18);
}
.container{
    max-width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row1{
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row2{
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.first{
    width: 400px;
    height: 500px;
    background: url(construction.jpg) no-repeat center / cover;
    background-color: black;
}
.second{
    width: 50%;
    font-family: Anton;
    font-size: 32px;
    color: white;
    margin-left: 20px;
}
.second a{
    background-color: black;
    border: 15px solid black;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Lora;
    font-size: 15px;
}
.one, .two, .three{
    height: 230px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    background-color: white;
}
.btn{
    background-color: rgb(255, 255, 255);
    color:black;
    padding: 10px 20px;
    font-family: Lora;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid black;
}


